{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }} - About Me
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>About Me</h1>
				<p>
                    Welcome to Symfony Blog!
					
					We believe that words have the power to inspire, educate, and connect people from all walks of life. This blog is a reflection of our passion for sharing knowledge, sparking creativity, and fostering meaningful conversations. Whether you're seeking information, entertainment, or a fresh perspective, we're here to accompany you on your journey.
					
					Our team of dedicated writers and contributors are driven by a shared love for exploration and a thirst for discovery. We aim to provide engaging and thought-provoking content that covers a wide range of topics.
					
					At Symfony Blog, we believe in the power of community. We value the voices and opinions of our readers, and we actively encourage dialogue and interaction. We want this blog to be a space where ideas are exchanged, questions are asked, and perspectives are shared. We invite you to join the conversation by leaving comments, asking questions, and engaging with our content on social media.
					
					We're committed to providing our readers with a positive and enriching experience. We carefully curate our content to ensure it meets high standards of quality, accuracy, and relevance. Our goal is to inspire, entertain, and empower our readers, leaving them with valuable takeaways and a renewed sense of curiosity.
					
					Thank you for joining us on this exciting journey. We hope that Symfony Blog becomes a trusted resource for you—a place you can turn to for inspiration, knowledge, and a sense of connection. If you have any questions, suggestions, or feedback, we'd love to hear from you. Together, let's embark on a quest for growth, learning, and exploration.
					
					Happy reading!
					
					danilovict2!
                </p>
			</div>
		</div>
	</div>
{% endblock %}
