{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }} - About Me
{% endblock %}

{% block body %}
	<div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>About Me</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro eos rem facere non placeat cupiditate incidunt, totam vel autem itaque odit voluptate nobis eaque quod laboriosam neque laborum harum accusamus.</p>
            </div>
        </div>
    </div>
{% endblock %}
