{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }} - Home
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="jumbotron">
					<h1 class="display-4">Welcome to My Blog!</h1>
					<p class="lead">Thank you so much for visiting!</p>
					<hr class="my-4">
					<p class="lead">
						<a class="btn btn-primary btn-lg" href="#" role="button">Popular Posts</a>
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				{% for post in posts %}
					<div class="post">
						<h3>{{ post.title }}</h3>
						<p>{{ post.body|u.truncate(300)|raw }}{% if post.body|length > 300 %}...{% endif %}</p>
						<a href="{{ path('post_show', {'slug' : post.slug}) }}" class="btn btn-primary">Read more</a>
					</div>
					<hr>
				{% endfor %}


			</div>

			<div class="col-md-3 col-md-offset-1">
				<h2>Sidebar</h2>
			</div>
		</div>
	</div>

{% endblock %}
